<div class="row">
	<div class="col-md-6">
		<%= form_for Comment.new, url: article_comment_index_path(@article.id) do |f| %>
			<div class="form-group">
			<%= f.label :msg %>
			<%= f.text_field :msg , autofocus: true, class: 'form-control', placeholder: 'msg',
			 required: true %>
		</div>
		<div class="row">
			  <div class="form-group">
			    <div class="col-md-6">
			      <button type="submit" class="btn btn-sm btn-warning">Submit </button>
			    </div>
			  </div> 
			</div>
		<% end %>
	</div>
</div>