<% comment.replies.each do |reply|%>
	<div class="row">
		<div class="col-md-12">
			<small>
				<%= reply.msg %> 
				<%= time_ago_in_words(reply.created_at) %> 
			</small>
		</div>
	</div>
<% end %>